/* Page Styles */
@charset "utf-8";
body {
	font-family: Cambria, Cochin, Georgia, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Times, "Times New Roman", serif;
	font-size: 200%;color:red;
	line-height: 1.4;
	width: 640px;
	margin-left: auto;
    margin-right: auto;
    background-image: url("images/Neilyoung3.jpg");
    
    
}
 h3 {
     text-align: center;
    
 }
 aside p:first-of-type{
	 background-color: grey
 }
